{% extends "base.html" %}
{% load static %}

{% block title %}Espace CSRD - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-notice fr-notice--info">
        <div class="fr-container">
            <div class="fr-notice__body">
                <p class="fr-notice__title">
                    Cette page est évolutive : nous enrichissons progressivement l’espace CSRD sur le Portail.
                    Si vous souhaitez participer à son élaboration, n’hésitez pas à prendre <a href="{% url 'contact' %}">contact</a> avec nous.
                </p>
            </div>
        </div>
    </div>
    <div class="fr-container fr-py-6w">
        <div class="fr-grid-row">
            <h2>Espace Rapport de Durabilité - CSRD</h2>
            <p>
                Pour établir son rapport de durabilité, l’entreprise doit identifier ses enjeux matériels de durabilité conformément au principe de la double matérialité.
            </p>
            <p>
                L’entreprise doit prendre en compte la liste couverte par les standards européens de reporting en matière de durabilité (ESRS thématiques).
                Si une thématique de la liste est considérée comme matérielle par l’entreprise, elle doit renseigner les informations requises en respectant les exigences de publication mentionnées par l’ESRS.
            </p>
            <p>
                <b>Attention : la liste ci-dessous doit être complétée par un examen des enjeux de durabilité sectoriels et spécifiques à l’entité.</b>
            </p>
        </div>
        <div class="fr-grid-row rse-organizer-titre">
            <div class="">
                <h3>Thèmes du Rapport de Durabilité</h3>
            </div>
            <div class="">
                <button class="fr-btn fr-btn--icon-right fr-icon-information-fill" title="Ouvre une modale de Ressources et Annexes" aria-hidden="true" data-fr-opened="false" aria-controls="fr-modal-1">Ressources et annexes</button>
            </div>
        </div>
        <div class="fr-callout fr-callout--blue-ecume">
            <p class="fr-callout__text">
                Cliquez sur le titre d'un ESRS pour dérouler ses thèmes et ses sous-thèmes.<br>
                Cliquez sur le bouton de téléchargement d'un thème pour accéder aux indicateurs et aux extraits de la réglementation concernant ce thème.
            </p>
        </div>
        <div id="svelte-themes-rapport-durabilite"></div>
    </div>
    <dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="fr-modal-1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources et annexes</h1>
                            <p>
                                <a title="Consulter le guide méthodologique de l’EFRAG sur l’analyse de double matérialité - ouvre une nouvelle fenêtre" href="https://www.efrag.org/Assets/Download?assetUrl=%2Fsites%2Fwebpublishing%2FMeeting%20Documents%2F2302241032237237%2F03-02%20Materiality%20Assessment%20Implementation%20guidance%20clean%20SRB%20231025.pdf" target="_blank" rel="noopener external">Consulter le guide méthodologique de l’EFRAG sur l’analyse de double matérialité</a><br><br>
                                <a title="Consulter le guide méthodologique de l’EFRAG la lecture du tableau des indicateurs - ouvre une nouvelle fenêtre" href="https://www.efrag.org/Assets/Download?assetUrl=%2Fsites%2Fwebpublishing%2FMeeting%20Documents%2F2302241032237237%2F05-02%20-%20Draft%20List%20of%20ESRS%20Data%20Points%20Methodology%20-%20Implementation%20Guidance.pdf" target="_blank" rel="noopener external">Consulter le guide méthodologique de l’EFRAG la lecture du tableau des indicateurs</a><br><br>
                                <a title="Consulter l’annexe I des Normes Européennes d’Information en matière de durabilité (ESRS) - ouvre une nouvelle fenêtre" href="https://data.consilium.europa.eu/doc/document/ST-12481-2023-ADD-1/fr/pdf" target="_blank" rel="noopener external">Consulter l’annexe I des Normes Européennes d’Information en matière de durabilité (ESRS)</a><br><br>
                                <a title="Consulter l’annexe II des Normes Européennes d’Information en matière de durabilité (ESRS) - ouvre une nouvelle fenêtre" href="https://data.consilium.europa.eu/doc/document/ST-12481-2023-ADD-2/fr/pdf" target="_blank" rel="noopener external">Consulter l’annexe II (Acronymes et glossaire de termes) des Normes Européennes d’Information en matière de durabilité (ESRS)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRS1" role="dialog" id="modal-ESRS1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRS1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS 1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-1/CSRD-ESRS-1.pdf' %}">
                                    Télécharger : ESRS 1 - Exigences générales <span class="fr-link__detail">PDF – 1,6 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-1/Guide-d-application-ANC-ESRS-1.pdf' %}">
                                    Télécharger : ESRS 1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 1,4 mo</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRS2" role="dialog" id="modal-ESRS2" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS2">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRS2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS 2</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-2/CSRD-ESRS-2.pdf' %}">
                                    Télécharger : ESRS 2 - Informations générales à publier <span class="fr-link__detail">PDF – 1,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-2/Guide-d-application-ANC-ESRS-2.pdf' %}">
                                    Télécharger : ESRS 2 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 500 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-2/Data-point-ESRS-2.xlsx' %}">
                                    Télécharger : ESRS 2 - Data points (EN) <span class="fr-link__detail">XLSX – 29,9 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE1" role="dialog" id="modal-ESRSE1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E1/CSRD-ESRS-E1.pdf' %}">
                                    Télécharger : ESRS E1 - Changement climatique <span class="fr-link__detail">PDF – 2,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E1/Guide-d-application-ANC-ESRS-E1.pdf' %}">
                                    Télécharger : ESRS E1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 664,9 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E1/Data-point-ESRS-E1.xlsx' %}">
                                    Télécharger : ESRS E1 - Data points (EN) <span class="fr-link__detail">XLSX – 31,2 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE2" role="dialog" id="modal-ESRSE2" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE2">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E2</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E2/CSRD-ESRS-E2.pdf' %}">
                                    Télécharger : ESRS E2 - Pollution <span class="fr-link__detail">PDF – 931,2 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E2/Data-point-ESRS-E2.xlsx' %}">
                                    Télécharger : ESRS E2 - Data points (EN) <span class="fr-link__detail">XLSX – 19 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE3" role="dialog" id="modal-ESRSE3" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE3">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE3" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E3</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E3/CSRD-ESRS-E3.pdf' %}">
                                    Télécharger : ESRS E3 - Ressources aquatiques et marines <span class="fr-link__detail">PDF – 826 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E3/Data-point-ESRS-E3.xlsx' %}">
                                    Télécharger : ESRS E3 - Data points (EN) <span class="fr-link__detail">XLSX – 16,9 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE4" role="dialog" id="modal-ESRSE4" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE4">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE4" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E4</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E4/CSRD-ESRS-E4.pdf' %}">
                                    Télécharger : ESRS E4 - Biodiversité et écosystèmes <span class="fr-link__detail">PDF – 1,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E4/Data-point-ESRS-E4.xlsx' %}">
                                    Télécharger : ESRS E4 - Data points (EN) <span class="fr-link__detail">XLSX – 24,2 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE5" role="dialog" id="modal-ESRSE5" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE5">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE5" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E5</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E5/CSRD-ESRS-E5.pdf' %}">
                                    Télécharger : ESRS E5 - Economie circulaire <span class="fr-link__detail">PDF – 950,8 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E5/Data-point-ESRS-E5.xlsx' %}">
                                    Télécharger : ESRS E5 - Data points (EN) <span class="fr-link__detail">XLSX – 19 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS1" role="dialog" id="modal-ESRSS1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S1/CSRD-ESRS-S1.pdf' %}">
                                    Télécharger : ESRS S1 - Effectifs de l'entreprise <span class="fr-link__detail">PDF – 1,7 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S1/Guide-d-application-ANC-ESRS-S1.pdf' %}">
                                    Télécharger : ESRS S1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 245,7 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S1/Data-point-ESRS-S1.xlsx' %}">
                                    Télécharger : ESRS S1 - Data points (EN) <span class="fr-link__detail">XLSX – 31,7 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS2" role="dialog" id="modal-ESRSS2" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS2">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S2</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S2/CSRD-ESRS-S2.pdf' %}">
                                    Télécharger : ESRS S2 - Travailleurs de la chaîne de valeurs <span class="fr-link__detail">PDF – 873,9 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S2/Data-point-ESRS-S2.xlsx' %}">
                                    Télécharger : ESRS S2 - Data points (EN) <span class="fr-link__detail">XLSX – 19,6 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS3" role="dialog" id="modal-ESRSS3" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS3">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS3" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S3</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S3/CSRD-ESRS-S3.pdf' %}">
                                    Télécharger : ESRS S3 - Communautés touchées <span class="fr-link__detail">PDF – 1,1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S3/Data-point-ESRS-S3.xlsx' %}">
                                    Télécharger : ESRS S3 - Data points (EN) <span class="fr-link__detail">XLSX – 19,5 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS4" role="dialog" id="modal-ESRSS4" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS4">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS4" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S4</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S4/CSRD-ESRS-S4.pdf' %}">
                                    Télécharger : ESRS S4 - Consommateurs et utilisateurs finals <span class="fr-link__detail">PDF – 1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S4/Data-point-ESRS-S4.xlsx' %}">
                                    Télécharger : ESRS S4 - Data points (EN) <span class="fr-link__detail">XLSX – 19,4 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSG1" role="dialog" id="modal-ESRSG1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSG1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSG1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS G1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-G1/CSRD-ESRS-G1.pdf' %}">
                                    Télécharger : ESRS G1 - Conduite des affaires <span class="fr-link__detail">PDF – 1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-G1/Data-point-ESRS-G1.xlsx' %}">
                                    Télécharger : ESRS G1 - Data points (EN) <span class="fr-link__detail">XLSX – 17,3 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

{% endblock %}
